<div class="bg-gray-100 rounded-lg p-4">
  <label class="block text-sm font-medium text-gray-700 mb-2">Lista</label>
  <div class="flex gap-4">
    <app-custom-button
      variant="primary"
      [fullWidth]="true"
      [class.opacity-50]="mode() !== 'new'"
      [class.bg-blue-200]="mode() !== 'new'"
      (clicked)="modeChange.emit('new')"
      [leftIcon]="'➕'"
    >
      Kreiraj novu
    </app-custom-button>

    <app-custom-button
      variant="primary"
      [fullWidth]="true"
      [class.opacity-50]="mode() !== 'existing'"
      [class.bg-blue-200]="mode() !== 'existing'"
      (clicked)="modeChange.emit('existing')"
      [leftIcon]="'📚'"
    >
      Izaberi postojeću
    </app-custom-button>
  </div>
</div>
